  <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 text-center">
      <div class="section-title">
      	<h2>Find a local work group</h2>
        <p>Orci varius natoque penatibus et magnis dis turient montes nascetur ridiculus mus. Cras eleifend tellus sed congue ectetur velit turpis faucibus odio eget penatibus et magnis dis.</p>
      </div>
      <div class="section-button" id="filter-workout">     
       </div>
      {{!-- <p id="warning"></p> --}}
       <div class="section-sub">       
      <h5>Filter by workout</h5>
       </div>
 <div id="filter-btn" class="filter-menu">
  <button class="btn workout-options" onclick="filterSelection('Run')"> Run</button>
  <button class="btn workout-options" onclick="filterSelection('Walk')"> Walk</button>
  <button class="btn workout-options" onclick="filterSelection('Cycle')"> Cycle</button>
  <button class="btn workout-options" onclick="filterSelection('Weights')"> Weights</button>
  <button class="btn workout-options" onclick="filterSelection('HIIT')"> HIIT</button>
  <button class="btn workout-options" onclick="filterSelection('Yoga')"> Yoga</button>
  <button class="btn workout-options" onclick="filterSelection('Pilates')"> Pilates</button>
  <button class="btn workout-options" onclick="filterSelection('Other')"> Other</button>
 <button class="btn active col-12" onclick="filterSelection('all')"> Show all</button>
</div>  

    </div>
    </div>
    <div class="row">
      <div class="col-12 column" id="workout-list">
      {{#each workout as |workout| }}
      
        <div class="workout-list-container {{workout.type}}" id="workout{{workout.id}}" data-sort="{{workout.lng}},{{workout.lat}}" data-selected="{{workout.type}}">
           <div class="col-lg-8">
         <div class="workout-list-content">
           <h5>{{workout.type}}</h5>
           <h3>{{workout.title}}</h3>
            <p>
              {{workout.description}}
            </p>
            <h6>{{workout.date}} <span>|</span> {{workout.time}} <span>|</span> {{workout.duration}}min</h6>
            <div class="event-btn">
               <a href="/workout/{{workout.id}}">VIEW WORKOUT</a>
            </div>
          </div>
          </div>
           <div class="col-lg-4">
          <div class="workout-list-map">
           <div class="map-area maps" id="map{{workout.id}}" style="height: 350px; Width: 100%;" data-gps="{{workout.lng}},{{workout.lat}}"></div>
          </div>
        </div>
        </div>
        {{/each}}
    </div>
  </div>

<script src="./js/home.js"></script>