<div class="row">
  <div class="col-lg-8">
    <div class="col-12">
      <div class="section-title-sm">
        <h3>Workouts i'm joining</h3>
      </div>
    </div>
    {{#if attendWorkData.length}}
      {{#each attendWorkData as |attendance|}}
        <div class="my-list-container">
          <div class="my-list-content">
            <h5>{{attendance.type}}</h5>
            <h3>{{attendance.title}}</h3>
            <h6>{{attendance.date}}
              <span>|</span>
              {{attendance.time}}
              <span>|</span>
              {{attendance.duration}}min</h6>
            <p>
              {{attendance.description}}
            </p>
            <div class="event-btn">
              <a href="/workout/{{attendance.id}}">VIEW WORKOUT</a>
            </div>
          </div>
        </div>
      {{/each}}
    {{/if}}

    <div class="col-12">
      <div class="section-title-sm">
        <h3>Workouts i'm hosting</h3>
      </div>
    </div>
    {{#if hostWorkouts.length}}
      {{#each hostWorkouts as |hosting|}}
        <div class="my-list-container">
          <div class="my-list-content">
            <h5>{{hosting.type}}</h5>
            <h3>{{hosting.title}}</h3>
            <h6>{{hosting.date}}
              <span>|</span>
              {{hosting.time}}
              <span>|</span>
              {{hosting.duration}}min</h6>
            <p>
              {{hosting.description}}
            </p>
            <div class="event-btn">
                <a href="/workout/{{hosting.id}}" role="button">VIEW WORKOUT</a>
               <button class="btn" id="delete-button" data-id="{{hosting.id}}">DELETE MY WORKOUT</button>
            </div>
           </div>
        </div>
      {{/each}}
    {{/if}}
  </div>

  <div class="col-lg-4">
    <div class="col-12">
      <div class="section-title-sm">
        <h3>My Profile</h3>
      </div>
    </div>
    <div class="profile-info">
      <div class="inner">
        <h4>{{user.firstName}} {{user.lastName}}</h4>
        <small>Bio</small>
        <p>{{user.bio}}</p>
        <small>Email</small>
        <p>{{user.email}}</p>
        <small>Age</small>
        <p>{{user.age}}</p>
        <small>Gender</small>
        <p>{{user.gender}}</p>
        <small>Postcode</small>
        <p>{{user.postcode}}</p>
        {{!-- <p><a href="#"> Edit Profile </a> </p>
        <p><a href="#"> Delete Profile </a> </p> --}}
      </div>
    </div>

  </div>
</div>

<script src="./js/profile.js"></script>